<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @post.url %>
  <br/>
  <b>Posted by:</b>
  <%= @post.user.name %>
  <hr/>
  <b>Comments</b>
  <br/>
  <% @post.comments.each do |comment| %>
    <%= comment.body %>
    <br/>
    commented by: <%= comment.user.name %>
      <hr/>
  <% end %>
</p>
<%= link_to 'Add a comment', new_comment_path %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
